.footer {
  background: rgba(53, 53, 53, 1);
  color: white;
  padding: 30px;

  &__logo {
    width: 140px;
    height: 30px;
    margin-bottom: 10px;
    filter: invert(1);
  }

  &__content {
    p {
      display: flex;
      align-items: center;
    }

    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 100px;
    padding-top: 80px;
    padding-right: 90px;
  }
}
