.heartCheckbox {
  display: none; // Hide the checkbox
}

.heartIcon {
  padding: 20px;
  cursor: pointer;
  display: block;
  position: relative;

  .heartIconRegular,
  .heartIconSolid {
    width: 20px;
    color: grey; // Default color
  }

  .heartIconSolid {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(203, 45, 217);
    opacity: 0; // Hidden by default
    transition: opacity 0.3s ease;

    //code for gradient in icon but somehow it's not working
    /* color: transparent;
      background-clip: text;
      background-image: linear-gradient(to right, #ff0000, #ffff00, #00ff00); */
  }
}

.heartCheckbox:checked + .heartIcon .heartIconSolid {
  opacity: 1; // Show solid heart when checked
}

.heartCheckbox:checked + .heartIcon .heartIconRegular {
  opacity: 0; // Hide regular heart when checked
}
