@import "./normalize";
@import "./loading";

body {
  margin: 0;
  padding: 0;
  transform-origin: top left; // Ensures scaling starts from the top-left corner
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;

  @media (min-width: 1024px) {
    transform: scale(1.3); // Adjust the scale factor as needed
    width: calc(100% / 1.3); // Inverse of the scale factor
    height: calc(100% / 1.3); // Inverse of the scale factor
  }

  @media (min-width: 1920px) {
    transform: scale(1.7); // Adjust the scale factor as needed
    width: calc(100% / 1.7); // Inverse of the scale factor
    height: calc(100% / 1.7); // Inverse of the scale factor
  }
}
